/* 
   ///////////////////////////////////////////
      RESET 
   ///////////////////////////////////////////
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
   ///////////////////////////////////////////
      HEADER 
   ///////////////////////////////////////////
*/


h1 {
	color: #B66848;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold; 
	line-height: 1.35em;
}

.author {
	color: #91B89A;
}

h2 {
	color: #B66848;
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold; 
	margin-bottom: 5px;
	line-height: 1.35em;
}

/* 
   ///////////////////////////////////////////
      BODY 
   ///////////////////////////////////////////
*/

li {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 1.35em;
}

p {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 1.35em;
	padding-bottom: 20px;
}

ul, ol {
	padding-left: 20px;
	margin-top: 0px;
	padding-bottom: 20px;
}

/* 
   ///////////////////////////////////////////
      LAYOUT 
   ///////////////////////////////////////////
*/

main {
	display: flex;
}


.content {
	flex: 2;
	background-color: #F0F0D8;
	padding: 25px;
}

.sidebar {
	background-color: #F0D890;
	padding: 25px;
	flex: 1;
}

img {
	width: 100%;
}

.cookie-image {
	position: relative;
	width: 100%;
	
}

.info {
	width: 50px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}



.prep-time {
	display: flex;
	padding: 10px;
}

section {
	flex:1;
	text-align: center;
}

/* 
   ///////////////////////////////////////////
      RESPONSIVE 
   ///////////////////////////////////////////
*/


@media (max-width: 800px){

	main {
		flex-direction: column;
	}


}




