
/* 
   ///////////////////////////////////////////
      FONT
   ///////////////////////////////////////////
*/

@font-face {
    font-family: 'artifakt_elementmedium';
    src: url('../font/artifakt_element_medium-webfont.woff2') format('woff2'),
         url('../font/artifakt_element_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'artifakt_elementregular';
    src: url('../font/artifakt_element_regular-webfont.woff2') format('woff2'),
         url('../font/artifakt_element_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* 
   ///////////////////////////////////////////
      LAYOUT
   ///////////////////////////////////////////
*/


#wrapper {
    background-color: #F4F5F6;
}


#sidebar {
    width:300px;
    float:left;
    
}

#content {
    max-width:724px;
    float:right;
    padding-left:24px;



}

/* 
   ///////////////////////////////////////////
      NAVIGATION
   ///////////////////////////////////////////
*/



main {
    font-family: 'artifakt_elementregular';
    background-color: #F4F5F6;
}


nav {
    width:300px;
    border: 1px solid #979797;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.17);;
    padding:0 12px;
    background-color: #FFF
}

nav.ul {
    width:300px;
    border: 1px solid #979797;
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.17);;
    padding:0 12px;
}

nav.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:30px;
}

.title {
    font-size: 1.5em;

}

img {
    max-width: 100%;
    padding-top: 50px;
}

.link {
    padding: 0px;
    padding-top: 30px;

}

.banner {
    padding: 0px;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    font-family: 'artifakt_elementregular';
}


nav li {

}

nav li a {
    color: #666;
    line-height: 4.5em;
    font-family: 'artifakt_elementregular';

}

a.nav-active {
    color:#222;
    font-family: 'artifakt_elementmedium'
}



/* 
   ///////////////////////////////////////////
      HEXAGON
   ///////////////////////////////////////////
*/
/*

hr {
    border:none;
    background-color:rgb(220,220,220);
    height:12px;
    margin-bottom:18px;
}


.hexagon {
  position: relative;
  width: 30px; 
  height: 17.32px;
  background-color: #ffffff;
  margin: 8.66px 0;
  border-left: solid 1px #a2a2a3;
  border-right: solid 1px #a2a2a3;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 21.21px;
  height: 21.21px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 3.3934px;
}

.hexagon:before {
  top: -10.6066px;
  border-top: solid 1.4142px #a2a2a3;
  border-right: solid 1.4142px #a2a2a3;
}

.hexagon:after {
  bottom: -10.6066px;
  border-bottom: solid 1.4142px #9B9B9B;
  border-left: solid 1.4142px #9B9B9B;
}

