/* 
   ///////////////////////////////////////////
      RESET 
   ///////////////////////////////////////////
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer,
p,
li {
	border: 1px solid blue;
	padding: 10px;	
}

/* 
   ///////////////////////////////////////////
      HEADER 
   ///////////////////////////////////////////
*/

ul {
	list-style-type: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

header ul {
	display: flex;
	justify-content: flex-end;
}

header li {
	margin-left: 5px;
}


/* 
   ///////////////////////////////////////////
      MAIN 
   ///////////////////////////////////////////
*/

p {
	height: 100px;
}

.container{
	margin: 20px;
}

main {
	margin: 20px 0;
}
main ul {
	display: flex;
	justify-content: space-between;
}

main li {
	width: 22%;
	height: 100px;
}


/* 
   ///////////////////////////////////////////
      FOOTER 
   ///////////////////////////////////////////
*/

footer li {
flex: 1;
height: 150px;
margin-right: 30px;
}

footer li:last-child {
	margin: 0;
}

footer ul {
	display: flex;
}


/* 
   ///////////////////////////////////////////
      MOBILE STYLES 
   ///////////////////////////////////////////
*/



@media (max-width: 600px){
	header ul {
		display: none;
	}

	main ul {
		flex-direction: column;
	}

	main li {
		width: 100%;
	}

	main li:last-child {
		display: none;
	}

	footer ul {
		flex-direction: column;
	}

	footer li {
	flex: 1;
	height: 150px;
	margin-right: 30px;
	}


	footer li:last-child {
		margin: 0;
	}

	footer li{
		margin: 0;
		margin-bottom: 15px;
	}		
}








